@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}


.center-content {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.chart-header {
  margin-top: 50px;
}

.pages-main {
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}